[Unit]
Description=HappyGymStats Admin Panel
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/happygymstats-adminpanel/current
ExecStart=/var/www/happygymstats-adminpanel/current/HappyGymStats.AdminPanel
Restart=on-failure
RestartSec=5

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://127.0.0.1:5048

[Install]
WantedBy=multi-user.target
